body
        {
        background-color: black;
        }
            table
            {
              border: 1px solid;
              border-collapse: collapse;
              color: azure;
              
            }
            img
            {
                width: 100px;
                height: 100px;
                float: right;
                padding-bottom: 50px;
               
                
            }